*{ box-sizing: border-box; margin: 0; padding: 0; border:0 }
#wrap {
text-align: center;
}

#header {
display: block;
width: 1280px;
height: 2000px;
}

#banner {
position: relative;
border: 0;
}

#hamburger ,#pay,#talk,#notify{
content: "";
display: inline-block;
background-image: url('image/sp_main.ae81c9d5.png');
background-size: 444px 434px;
width: 26px;
height: 26px;
position: absolute;
top: 25px;
}
#hamburger{
background-position: -314px -330px;
left: 30px ;
}
#pay {
background-position: -295px -177px;
width: 32px;
height: 32px;
left: 80px;
}
#talk {
background-position: -364px -81px;
right: 42px;
}
#notify {
background-position: -364px -27px;
right: -10px
}

#hamburger:hover::before,#pay:hover::before,#talk:hover::befor,#notify:hover::before  {
content: "";
display: block;
background-image: url('image/sp_main.ae81c9d5.png');
background-size: 444px 434px;
background-position: -314px -330px;
background-repeat: no-repeat;
border-radius: 50%;
width: 26px;
height: 26px;
background-color: var(--color_block_bg);
position: absolute;
}

#pay:hover::before{
background-position: -295px -177px;
width: 32px;
height: 32px;
}

#talk:hover::before {
background-position:  -364px -81px;
}

#notify:hover::before {
background-position:  -364px -27px;

}

.blind {
display: none;
}
