
#search>form:hover{
    box-shadow: 0 2px 4px 0 rgba (0,0,0,.12);
}

#search>form>input{
    width: 480px;
    height: 100%;
    padding: 17px 0 ;
    outline: none;
    font-size: 2rem;
    line-height: 24px;
    font-weight: bold;

}

#search >form>input:focus::placeholder{
    color: lightgray;
}

#search>form>input::placeholder{
    color: white;
}

#search-svg{
    position: relative;
    display: inline-block;
    width: 68px;
    height: 100%;
    padding: 17px 17px 17px 27px;
    margin-right: 12px;
}

#search-svg::after{
    content: "";
    position: absolute;
    width: 1px;
    display: none;
    height: 20px;
    background-color: rgb(230,230,230);
    right: 0;
    top: 20px;
}

#search> form:focus-within #search-sg::after{
    display: inline-block;
}

#search>form svg{
    width: 24px;
    height: 24px;
}


#searc-button{
    width: 62px;
    padding: 17px 27px 16px 10px;
    height: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button>div{
    background-color: #03c75a;
    width: 25ps;
    height: 25px;
}

#search- button>div::before{
    content: "";
    display: inline-block;
    background-image: url(image/sp_main.ae81c9d5.png);
    background-size:422px 405px ;
    background-position: -364px -106px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

#search-recent{
    width: 22px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}

#search-recent::before{
    content: "";
    display: block;
    background-image: url(image/sp_main.ae81c9d5.png);
    background-size:422px 405px ;
    background-position: -412px -313px;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
}

#search-keyboard{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

#search-keyboard::before{
    content: "";
    display: block;
    background-image: url(image/sp_main.ae81c9d5.png);
    background-size:422px 405px ;
    background-position: -270px -234px;
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
}

#search-keyboard:hover::before{
    filter: brightness(0.7)
}

