#nav{
    margin-top: 12px;
}  
    
 #nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 20px;
    padding: 0;
    margin: 0;

}

#nav li{
    display: flex;
    justify-content: center;
}

#nav a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

#nav a div{
    position: relative;
    display: flex;
    text-align: center;
    flex-flow: column;
    justify-content: ;
    margin: 0 auto;
    text-align: center;
}   

#nav a div::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -3px;
    background-image: url(image/sp_main.png);
    background-size: 444px 434px;
    background-position: 0px -128px;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
}

#nav a div::after{
    content: "";
    position: relative;
    display: inline-flex;  
    background-image: url(image/sp_main.png);
    background-size: 444px 434px;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    z-index: 1;
    margin: 2px;
}

#nav li:nth-of-type(1) a div::after{
    background-position: -250px -90px;
}

#nav li:nth-of-type(2) a div::after{
    background-position: -250px 0px;
}

#nav li:nth-of-type(3) a div::after{
    background-position: -201px -98px;
}

#nav li:nth-of-type(4) a div::after{
    background-position:-90px -209px;
}

#nav li:nth-of-type(5) a div::after{
    background-position:0px -209px
}

#nav li:nth-of-type(6) a div::after{
    background-position: -180px -209px;
}

#nav li:nth-of-type(7) a div::after{
    background-position: -45px -209px;
}

#nav li:nth-of-type(8) a div::after{
    background-position: -201px 0px; 
}

#nav li:nth-of-type(9) a div::after{
    background-position: -225px -209px;
}

#nav li:nth-of-type(10) a div::after{
    background-position: 0px -128px;
    top: -4px;
    left: -5px;
    width: 54px;
    height: 54px;
}

#nav li:nth-of-type(11) a ::after{
    background-position: -250PX -135PX
}

#nav a:visited{
    color: black 
}

#nav li{
    width: 64px;
    margin-left: 4px;
}

#nav li:nth-of-type(1){
margin:0
}

#nav a span{
    position:absolute;
    display: block;
    margin-top: 7px;
}